---
import Header from '../components/Header.astro';
import Launches from '../components/Launches.astro';
import Layout from '../layouts/Layout.astro';

console.log("hola mundo")
---

<Layout title="Welcome to Astro.">
	<main>
		<Launches/>
	</main>
</Layout>